$colors: (
  'background': #ffffff,
  'text-primary': #966f56,
  'text-secondary': #0a0802,
  'accent-primary': #ffaf18,
  'accent-secondary': #b9914f,
  'error-border': #e74c3c,
  'error-background': #fdecea,
  'modal-backdrop': rgba(0, 0, 0, 0.9),
  'modal-text': #ffffff,
  'modal-shadow': rgba(0, 0, 0, 0.5),
  'modal-card-background': #ffffff,
  'modal-close-hover': rgba(0, 0, 0, 0.05),
  'popup-background': #27ae60,
  'popup-text': #ffffff,
);

:root {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }
}
