@font-face {
  font-family: 'Muller';
  src: url('/fonts/Muller-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/Muller-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/Muller-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/Muller-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
