.form {
  padding: 0 0 115px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
    align-items: center;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      gap: 32px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;

    @media (max-width: 1024px) {
      gap: 30px;
    }

    @media (max-width: 768px) {
      gap: 24px;
      order: 1;
    }
  }

  &__title {
    font-size: 35px;
    font-weight: 800;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      text-align: center;
    }

    &-highlight {
      color: var(--color-accent-primary);
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: 768px) {
      font-size: 14px;
      text-align: center;
    }
  }

  &__self {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;

    @media (max-width: 768px) {
      order: 3;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    font-size: 18px;
    padding: 18.25px;
    border: 1px solid var(--color-text-primary);
    box-sizing: border-box;
    transition:
      border-color 0.3s ease,
      background-color 0.3s ease;
    background-color: var(--color-background);

    @media (max-width: 768px) {
      padding: 14px;
      font-size: 16px;
    }

    &::placeholder {
      color: var(--color-text-primary);
    }

    &--error {
      border-color: var(--color-error-border);
      background-color: var(--color-error-background);

      &:focus {
        outline-color: var(--color-error-border);
      }
    }
  }

  &__image {
    img {
      width: 120%;
      height: 100%;
      object-fit: contain;
    }

    @media (max-width: 1400px) {
      img {
        width: 100%;
      }
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__button {
    height: 60px;
  }
}
