.form {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    align-items: center;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      gap: 32px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    @media (max-width: 1024px) {
      gap: 32px;
    }

    @media (max-width: 768px) {
      gap: 24px;
      order: 1;
    }
  }

  &__title {
    font-size: 38px;
    font-weight: 700;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      text-align: center;
    }

    &-highlight {
      color: var(--color-accent-primary);
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: 768px) {
      font-size: 14px;
      text-align: center;
    }
  }

  &__self {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    @media (max-width: 768px) {
      order: 3;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    padding: 16px;
    border: 1px solid var(--color-text-primary);
    border-radius: 4px;
    box-sizing: border-box;
    transition:
      border-color 0.3s ease,
      background-color 0.3s ease;
    background-color: var(--color-background);

    @media (max-width: 768px) {
      padding: 14px;
      font-size: 16px;
    }

    &::placeholder {
      color: var(--color-text-primary);
    }

    &--error {
      border-color: var(--color-error-border);
      background-color: var(--color-error-background);

      &:focus {
        outline-color: var(--color-error-border);
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    @media (max-width: 1024px) {
      grid-column: 1 / -1;
      order: 2;
    }

    @media (max-width: 768px) {
      max-height: 300px;
    }
  }
}
