.catalog-card {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text-secondary);
  text-align: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
