.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-background);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 16px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 5px;
    grid-column: 1;
    justify-self: start;
  }

  &__logo-text {
    font-size: 32px;
    max-width: 100px;
    text-transform: uppercase;
    word-break: break-word;
    font-weight: 900;
    color: var(--color-accent-primary);
  }
  &__menu {
    gap: 2vw;
    max-width: 650px;
    display: flex;
    justify-content: center;
    grid-column: 2;
    justify-self: center;

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &--mobile {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      max-width: none;
      padding: 16px 24px;
      flex-direction: column;
      gap: 16px;
      background-color: var(--color-background);
      display: none;
      z-index: 10;
    }

    &--open {
      display: flex;
    }
  }

  &__burger {
    width: 32px;
    height: 24px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    grid-column: 3;
    justify-self: end;

    &--open {
      span:nth-child(1) {
        transform: translate(0, 10px) rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: translate(0, -10px) rotate(-45deg);
      }
    }
    span {
      transition: 0.2s ease-in-out;
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: var(--color-accent-primary);
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__container {
      height: 72px;
      grid-template-columns: 1fr auto;
    }
  }

  .header__logo {
    &-image {
      width: 80px;
      height: 80px;
    }
    &-text {
      font-size: 24px;
    }
  }

  .header__menu {
    grid-column: 1 / -1;
  }

  .header__burger {
    display: flex;
    grid-column: 2;
  }
}
