.button {
  width: 100%;
  align-self: flex-start;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-secondary);
  background-color: var(--color-accent-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}
