.catalog {
  padding: 0 0 250px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 24px;
  }
}
