.catalog {
  padding: 0 0 120px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}
