.hero {
  padding: 120px 0 160px;
  background-color: var(--color-background);

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    font-size: 38px;
    font-weight: 800;
    line-height: 1.2;
    color: var(--color-text-primary);
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title-highlight {
    color: var(--color-accent-primary);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item-content {
    display: flex;
    gap: 8px;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
  &__item {
    font-size: 16px;
    display: flex;
    gap: 12px;

    &-icon {
      width: 100%;
      max-width: 70px;
      max-height: 70px;
      object-fit: contain;
    }

    &-title {
      font-weight: 800;
      color: var(--color-accent-primary);
      margin: 0;
      text-transform: uppercase;
    }

    &-text {
      line-height: 1.2;
      color: var(--color-text-primary);
      margin: 0;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 500px;
      height: auto;
      object-fit: contain;
    }
  }

  &__button {
    width: 35%;
    height: 60px;
  }
}

@media (max-width: 1200px) {
  .hero {
    padding: 90px 0 40px;

    &__container {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    &__title {
      font-size: 36px;
    }

    &__list {
      gap: 20px;
    }

    &__image {
      order: -1;

      img {
        max-width: 400px;
      }
    }

    &__button {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 80px 0 32px;

    &__title {
      font-size: 28px;
    }

    &__list {
      grid-template-columns: 1fr;
    }
  }
}
