@use './app/styles/reset.scss' as *;
@use './app/styles/colors.scss' as *;

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
