<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <img src="assets/logo.svg" alt="Logo" />
    </div>
    <ul class="header__menu">
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">Пиццы</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">Напитки</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">Доставка и оплата</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">Контакты</a>
      </li>
    </ul>
  </div>
</header>
